In [15]:
import numpy as np
import pandas as pd

from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.read_csv('/content/airlines.csv',usecols=['airline','flight','duration','days_left'])
df.head(4)

    airline   flight  duration  days_left
0  SpiceJet  SG-8709      2.17          1
1  SpiceJet  SG-8157      2.33          1
2   AirAsia   I5-764      2.17          1
3   Vistara   UK-995      2.25          1

Feature Splitting

In [12]:
df['flight_type'] = df['flight'].str.split('-', expand=True)[0]

In [13]:
df.head(4)

    airline   flight  duration  days_left flight_type
0  SpiceJet  SG-8709      2.17          1          SG
1  SpiceJet  SG-8157      2.33          1          SG
2   AirAsia   I5-764      2.17          1          I5
3   Vistara   UK-995      2.25          1          UK

In [20]:
ohe = OneHotEncoder(sparse=False, dtype=np.int32)

In [32]:
df['flight_type'].value_counts()

UK       173
AI       120
6E        74
G8        71
SG        34
I5        14
6.00E     13
Name: flight_type, dtype: int64

In [23]:
ohe_transform = ohe.fit_transform(df[['flight_type']])

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [69]:
ohe_transform_df = pd.DataFrame(ohe_transform, columns=['6.00E','6E','AI','G8','I5','SG','6.00E'])

In [82]:
new_df = pd.concat([df,ohe_transform_df],axis=1)
new_df.head(4)

,airline,flight,duration,days_left,flight_type,6.00E,6E,AI,G8,I5,SG,6.00E
0,SpiceJet,SG-8709,2.17,1,SG,0,0,0,0,0,1,0
1,SpiceJet,SG-8157,2.33,1,SG,0,0,0,0,0,1,0
2,AirAsia,I5-764,2.17,1,I5,0,0,0,0,1,0,0
3,Vistara,UK-995,2.25,1,UK,0,0,0,0,0,0,1

In [83]:
new_df.drop(['airline','flight','flight_type'],axis=1, inplace=True)

Feature Construction

In [84]:
def myfunc(num):
  if num <= 1:
    return 0
  if num > 1 and num <= 2:
    return 1
  if num > 2 and num <= 3:
    return 2
  if num > 3 and num <= 5:
    return 3
  else:
    return 4

In [85]:
myfunc(8)

4

In [86]:
new_df['duration'] = new_df['duration'].apply(myfunc)

In [87]:
new_df.head(4)

   duration  days_left  6.00E  6E  AI  G8  I5  SG  6.00E
0         2          1      0   0   0   0   0   1      0
1         2          1      0   0   0   0   0   1      0
2         2          1      0   0   0   0   1   0      0
3         2          1      0   0   0   0   0   0      1

In [88]:
new_df['duration'] = new_df['duration'] + new_df['days_left'] + 1

In [89]:
new_df

     duration  days_left  6.00E  6E  AI  G8  I5  SG  6.00E
0           4          1      0   0   0   0   0   1      0
1           4          1      0   0   0   0   0   1      0
2           4          1      0   0   0   0   1   0      0
3           4          1      0   0   0   0   0   0      1
4           4          1      0   0   0   0   0   0      1
..        ...        ...    ...  ..  ..  ..  ..  ..    ...
494         9          4      0   0   0   0   0   0      1
495         9          4      0   0   0   0   0   0      1
496         9          4      0   0   0   1   0   0      0
497         9          4      0   0   0   1   0   0      0
498         8          4      0   0   0   0   0   0      1

[499 rows x 9 columns]